[Unit]
Description=Ong Bump Log Bot
After=network-online.target

[Service]
Type=simple

User=ongbots
Group=ongmod

ExecStartPre=/bin/bash -c 'mv /home/ongbots/ongautobump/ongautobump.log /home/ongbots/ongautobump/ongautobump.$$(date +%%T)-logs.log'
ExecStart=/home/ongbots/ongautobump/ongautobump_prod.sh

Restart=always
RestartSec=60s

StandardOutput=file:/home/ongbots/ongautobump/ongautobump.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
